BWAdir/
STRIPEseq_jen.e1321855
STRIPEseq_jen.o1321855
err
fasta/configfile
fastq/
scripts/configfile
tsr/BAMDIR/
tsr/PjSTRIPE_2stepf3_merged.RData
tsr/PjSTRIPE_2stepf3_premerge.RData
tsr/PjSTRIPE_2stepwf1.RData
tsr/PjSTRIPE_2stepwf3.RData
tsr/PjSTRIPE_complete.RData
tsr/STRIPEseq_paraw3.output
tsr/STRIPEseq_parawf1.output
tsr/TSRset-1.tab
tsr/TSRset-2.tab
tsr/TSRset-3.tab
tsr/TSRsetMerged-1.tab
tsr/TSRsetMerged-1.txt
tsr/TSSset-1.txt
tsr/TSSset-2.txt
tsr/TSSset-3.txt
tsr/configfile
